@font-face {
   font-family: Averta;
   src: url(https://res.cloudinary.com/dafsch2zs/raw/upload/v1596618987/Zuri%20Landing/AvertaDemoPECuttedDemo-Regular_dghpn7.otf);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Averta, sans-serif;
    
}
/* styling the header */
body{
  width: 1400px;
}

header{
    display:flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    position: fixed;
    background-color: #fff;
    top: 0px;
    padding-top: 5px;
    margin-bottom: 20px;
}
.header-contents{
    margin: auto;
    color: #000;
    display: flex;
    max-width: 1440px;
    width: 88%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    cursor: pointer;
}
nav{
    display: flex;
    align-items: center;
}
nav a{
color: #585858;
}
.header-contents ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.header-contents ul a{
    margin-right: 3rem;
    text-decoration:none;
}
.header-contents ul a:hover{
    background-color: #e7e2e2;
    padding: 15px 4px;
    transition: 0.5s;
}
.hire-button-header button{
    background-color: #e7332b;
    padding: 11px 45px;
    border-radius: 0 0 8px 0;
    border: 0px;
    color:#fff;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 1px;
}
nav ul a.active{
  border-bottom: 2px solid #e7332b;
  padding-bottom: 15px;
}

/* styling the home */
#home{
    padding-top: 150px;
    display: block;
    max-width: 1440px;
    width:80%;
    margin: auto;
}
.home-container{
    display: flex;
    width: 100%;
}
.home-contentBox1{
    box-sizing: border-box;
    margin-top: 100px;
    flex-direction: row;
    width: 50%;
}
.home-content1{
    display: block;
}
.home-content1 p.home-title{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    letter-spacing: 0.00938em;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
}
div.line1{
    display: block;
    margin-left: 410px;
    margin-top: -55px;
}
.home-content1 p.home-info{
    display:block;
    padding-top: 15px;
    width: 100%;
    font-style: normal;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    color: #787878;
}
.home-content2{
    margin-top: 30px;
    display: flex;
}
button.hire-button{
    background-color: #e7332b;
    border: none;
    border-radius: 0 0 8px 0;
    color: #fff;
    margin-right: 15px;
    padding: 11px 55px;
    line-height: 19px;
    cursor: pointer;
    letter-spacing: 1px;
}
button.pool-button{
    background-color: #585858;
    border: none;
    border-radius: 0 0 8px 0;
    color: #fff;
    padding: 11px 40px;
    line-height: 19px;
    cursor: pointer;
    letter-spacing: 1px;
}
.home-contentBox2{
    display: block;
    margin: 0px;
    flex-direction: row;
}
.home-image{
    display: flex;
    justify-content: end;
}
.image1{
    width: 70%;
    height: 70%;
    padding-top: 60px;
}
div.line2{
    margin-top: -90px;
    position: absolute;
    right: -50px;
    mix-blend-mode: soft-light;
    display:block;
}
.line2{
    width:250px;
}

/* styling Impact */

.impact-details h1{
  margin: 0% 0% 0% 10%;
  padding: 10% 0% 0% 0%;
  font-size: 45px;
}
.impact-details p{
  font-size: 20px;
  font-weight: bold;
  margin-left: 10%;
  line-height: 16px;
  padding-top: 5px;
}
p.country{
  font-size: 18px;
  color: #585858;
  margin-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.impact-section1{
    background-image: url(https://talent.zuri.team/static/media/bgsection2.063bd869082548bafa74.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.impact-section1{
  display: flex;
  align-items:center;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  flex-wrap: wrap;
  height: 600px;
}
.impact-details{
  width: 50%;
}
.faces img{
  display: flex;
  justify-content: space-around;
}
.countries{
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  margin-left: 8%;
}
.countries img{
  background-color: #fff;
  padding: 10px 12px;
}
.countries .ger, .eng, .ind, .nig, .usa{
  border-radius: 5px;
  margin: 10px 10px;
}
/* Styling Why us */
.talent-skills,
.talent-work{
  margin-left: 10%;
}
.talent-skills h1{
  margin-top: 10%;
  margin-bottom: 2%;
  font-size: 40px;
}
.talent-work h1{
  margin-bottom: 2%;
  font-size: 40px;
}
.talent-skills ul, .talent-work ul{
  list-style-type: none;
  margin-bottom: 10%;
}
.talent-skills ul li,
.talent-work ul li{
  display: inline-block;
  align-items: center;
  justify-content: space-evenly;
  font-size: 18px;
  color: #585858;
  padding: 15px 30px;
  background: #fff;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
border-radius: 5px;
margin-right: 15px;
}
.talent-skills ul li:hover,
.talent-work ul li:hover{
  transform: translateY(-15px);
  transition: 0.5s;
}
span{
  color: #e7332b;
}
.footer-hire{
    background-color: #e7332b;
    border: none;
    border-radius: 0 0 8px 0;
    color: #fff;
    margin-right: 15px;
    padding: 11px 55px;
    line-height: 19px;
    letter-spacing: 1px;
}
.footer-pool{
    background-color: #585858;
    border: none;
    border-radius: 0 0 8px 0;
    color: #fff;
    padding: 11px 40px;
    line-height: 19px;
    letter-spacing: 1px;
}
.why-us-section3{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20%;
    flex-wrap: wrap;
}
button.hire-button:hover, button.pool-button:hover, .footer-hire:hover, .footer-pool:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 3px -10px, rgba(0, 0, 0, 0.3) 0px 3px 3px;
  transition: 0.5s;
  cursor: pointer;
}
/*why hire*/
#why-us{
background-color: rgb(255, 248, 229);
}
.card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 50px;
}
.why-hire{
  text-align: center;
  padding: 5% 0%;
  font-size: 40px;
}
.why-us-sub1,.why-us-sub2,.why-us-sub3,.why-us-sub4,.why-us-sub5{
  background-color: #fff;
  margin: 20px 20px;
  width: 70%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0 0 15px 0;
}
.why-us-sub1:hover, .why-us-sub2:hover, .why-us-sub3:hover, .why-us-sub4:hover, .why-us-sub5:hover{
  background-color: #000;
  color: #fff;
}
.why-us-sub1 p:hover, .why-us-sub2 p:hover, .why-us-sub3 p:hover, .why-us-sub4 p:hover, .why-us-sub5 p:hover{
  color: #fff;
}
.why-us-sub1 p,.why-us-sub2 p, .why-us-sub3 p, .why-us-sub4 p, .why-us-sub5 p{
  text-align: center;
  color: #585858;
  font-size: 18px;
  width: 70%;
  padding: 10px 5px;
}
.why-us-section2 .why-us-sub3 p{
  text-align: center;
  color: #585858;
  font-size: 10px;
  width: 100%;
padding: 10px 5px;
}
.why-us-sub1 img,.why-us-sub2 img{
  position: relative;
}
.why-us-sub3 img,.why-us-sub4 img,.why-us-sub5 img {
position: relative;
}
.why-us-section1, .why-us-section2, .why-us-section4{
  display: flex;
  align-items: center;
  justify-content: center;
}
.why-us-sub4, .why-us-sub5{
  width: 400px;
}
/* styling the footer */
footer{
background-color: #000;
    padding-top: 80px;
    display: block;
    height: 200px;
    
}
.footer-container{
    width: 90%;
    display:block;
    margin-left: 50px;
}
.footer-content1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 15px;
}
div.social-media{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.social-media a .twit{
  width: 50px;
}
.social-media a .facebook, .social-media a .linkd, .social-media a .youtube{
  width: 50px;
}
.footer-content2{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
footer p.mail{
  color: #fff;
}
