@font-face {
   font-family: Averta;
   src: url(https://res.cloudinary.com/dafsch2zs/raw/upload/v1596618987/Zuri%20Landing/AvertaDemoPECuttedDemo-Regular_dghpn7.otf);
}

* {
   box-sizing: border-box;
   font-family: Averta, sans-serif;
   margin: 0;
   padding: 0;
}
/*nav bar*/
body{
  background-color: rgb(255, 253, 245);
}
.top{
  display: flex;
  flex-direction: row;
}
.logo{
  margin-left: 40px;
  margin-top: 20px;
}
.sticky-bar{
  margin-top: 30px;
  margin-left: 250px;
}
.sticky-bar a{
  text-decoration: none;
  color: #1b1a20;
  font-size: 20px;
  padding: 0px 15px;
  font-weight: 400;
}
.right-nav{
  display: flex;
  align-items: center;
  position: absolute;
  right: 150px;
  cursor: pointer;
  margin-top: 7px;
}
.thumb-container{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E7332B;
  position: relative;
  right: 39px;
  z-index: 1;
}
.thumb{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thumb-img{
  width: 50px;
  height: 50px;
}
.enroll{
  background-color: #E7332B;
  border-radius: 44px;
  color: #fff;
  width: 152px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  position: absolute;
}
main{
  margin-bottom: 10%;
  background-color: rgb(255, 253, 245);
  z-index: 1;
  width: 100%;
  position: fixed;
  min-height: 80px;
}
/*gain-knowledge*/
.lady{
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  height: 600px;
  margin-top: 2%;
}
button.now{
   background-color: #E7332B;
   color: #fff;
   padding: 10px 40px;
   border: none;
   border-radius: 30px;
   font-size: 18px;
   margin-left: 35%;
}
p.details{
  font-size: 20px;
  line-height: 4px;
  text-align: center;
  padding-top: 200px;
}
span{
  color: #E7332B;
}
.info h1{
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  width: 100%;
  line-height: 50px;
}
.image2{
  margin-left: 50%;
  margin-top: 10px;
  margin-bottom: 20px;
}
p.small{
  font-size: 20px;
  text-align: center;
  line-height: 25px;
  width: 80%;
  margin-left: 10%;
}
button.now{
   background-color: #E7332B;
   color: #fff;
   padding: 10px 28px;
   margin-top: 10%;
   margin-bottom:10%;
   border: none;
   border-radius: 30px;
}
.male-face img{
  position: relative;
  top: -75px;
}
.spiral img{
  position: relative;
  top: -120px;
  left: 300px;
}
hr{
  width: 90%;
  margin-left: 5%;
}

/*section good*/
.right p{
  font-size: 24px;
  text-align: right;
  margin-right: 10%;
  width: 75%;
}
section.good{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
}
.center img{
  margin: 0 40px;
}
a.read{
  color: green;
  text-decoration: underline;
}
.arrow{
  position: relative;
  left: 350px;
  top: 50px;
  margin-bottom: 4%;
}

.training{
  display: flex;
  margin-bottom: 5%;
}
.arrow-details{
  width: 45%;
  margin-left: 10%;
}
.star img{
  width: 50%;
  margin-left: 150px;
}
.arrow-details p{
  font-size: 24px;
}
.arrow-details h1{
  font-size: 40px;
  font-weight: bolder;
}
/*animated card*/
.background{
  background: linear-gradient(180deg,rgba(255,244,240,0),#fff4f0 17.19%,#fff4f0 84.37%,rgba(255,244,240,0));
  margin-bottom: 10%;
}

.boxes{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 50px;
}
.box-details{
  box-sizing: border-box;
  margin: 0;
  flex-direction: row;
  padding-left: 24px;
  padding-top: 24px;
  width: 30%;
}
.box-details > div{
  display: block;
}
.box1{
  background-color: #E7332B;
  border-radius: 18px;
  box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
  padding: 38px 48px 93px 50px;
  transition: transform .3s ease;
  height: 450px;
}
.box1 img, .box2 img, .box3 img, .box4 img, .box5 img, .box6 img{
    display: flex;
    float: right;
    margin-right: -49px;
    margin-top: -38px;
    width: 42%;
    
}
.box1 p, .box2 p, .box3 p, .box4 p, .box5 p, .box6 p{
  display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px
}
.number1{
    color: #fff;
    font-family: Graphik;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    
}
.remote{
  color: #fff;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    padding-bottom: 36px;
    padding-top: 32px;
}
.online{
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}
.box2, .box3, .box4, .box5, .box6 {
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
  padding: 38px 48px 93px 50px;
  transition: transform .3s;
  height: 450px;
}
.box1:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover, .box6:hover{
  transform: translateY(-15px);
  cursor: pointer;
}
.number2, .number3, .number4, .number5, .number6 {
  color: #1b1a20;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
.remote2, .remote3, .remote4, .remote5, .remote6 {
  color: #1b1a20;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  padding-bottom: 36px;
  padding-top: 32px;
}
.online2, .online3, .onlne4, .online5, .online6 {
  color: #1b1a20;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.box1-image {
  display: flex;
  float: right;
  margin-right: -49px;
  margin-top: -58px;
  width: 42%;
}
.mentorship{
  background-color: rgb(231, 51, 43);
  color: #fff;
  display: flex;
}
.curl img{
  position: relative;
  top: 50px;
  left: 300px;
  margin-bottom: 7%;
}
.mentorship-container{
  width: 50%;
  margin-left: 5%;
}
.second{
  width: 40%;
}
.second img{
  width: 120%;
  margin-top: 15%;
  padding-right: 70px;
}
.first{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
  flex-wrap: wrap;
  width: 80%;
}
p.start{
  font-size: 18px;
  padding: 10px 0px;
}
p.high{
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;
  padding-bottom: 50px;
  width: 80%;
}
p.week{
  font-size: 18px;
  width: 60%;
  padding-bottom: 40px;
}
.mentorship-container a{
  text-decoration: none;
  padding: 10px 30px;
  background-color: #fff;
  color: #E7332B;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 3px -10px, rgba(0, 0, 0, 0.1) 0px 3px 3px;
}
.mentorship-container a:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 3px -10px, rgba(0, 0, 0, 0.3) 0px 3px 3px;
  transition: 0.5s;
  cursor: pointer;
}
.teamwork button, .mentor button, .practice button, .games button{
  display: flex;
  align-items: center;
  justify-content: center;
}
.teamwork button, .mentor button, .practice button, .games button{
  padding: 10px 35px;
  border-radius: 30px;
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  margin-bottom: 20px;
  margin-right: 15px;
  font-size: 18px;
  width: 200px;
}
.first img{
  padding-right: 10px;
}
.games button p{
  width: 100%;
  font-size: 16px;
}
.stack-container{
  display: flex;
}
.prog{
  padding-left: 70px;
  padding-top: 70px;
  width: 50%;
}
p.programs{
  color: #E7332B;
  font-size: 24px;
}
p.list{
  font-size: 40px;
  font-weight: bolder;
}
.fold{
  width: 10%;
 position: relative;
 margin-bottom: 10%;
}
.fold img{
  width: 100%;
  position: absolute;
  left: 600px;
}
.new-card{
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    margin-left: 40px;
    margin-bottom: 40px;
}
.card{
  max-width: 33%;
  padding-left: 24px;
  padding-top: 24px;
  transition: 0.3s;
}
.card:hover{
  transform: translateY(-15px);
  cursor: pointer;
}
.js1, .js2, .js3, .js4, .js5, .js6 {
  background: #fff;
  border-radius: 41px;
  box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
  height: 350px;
  padding: 40px;
}
.js1 .front, .js2 .back, .js3 .product, .js4 .devops, .js5 .fullstack, .js6 .framework{
    color: #1b1a20;
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
    padding-bottom: 20px;
}
.js-images{
  display: flex;
  align-items: left;
}
.js1 .js-images img, .js5 .js-images img, .js2 .js-images img{
  padding-right: 14px;
  width: 60px;
}
.js4 .js-images img, .js6 .js-images img{
  padding-right: 14px;
  width: 90px;
}
.js3 .js-images img{
  padding-right: 14px;
  width: 70px;
}
.js1 .front-details, .js2 .back-details, .js3 .product-details, .js4 .devops-details, .js5 .fullstack-details, .js6 .framework-details{
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .01em;
    line-height: 140%;
    padding-bottom: 30px;
    padding-top: 40px;
    color: #1b1a20;
}
.blink{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.blink a{
  display: flex;
  margin: 40px 0px;
  text-decoration: none;
  background-color: #E7332B;
  justify-content: center;
  align-items: center;
  padding: 10px 35px;
  font-size: 20px;
  color: #fff;
  border-radius: 30px;
}
hr{
  border: 0px 0px thin;
  border-style:solid ;
  border-color: rgba(0, 0, 0, 0.12);
}